<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../static/colorpictures.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Color Pictures</title>
</head>
<body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=2149867725329292&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
            <div id="menu">
                <ul class="nav">
                    <li><a href="{{ url_for('home') }}">Homepage</a></li>                  
                    {% if 'token' in session %}
                        <li><a href="{{ url_for('profile', artist=session['token']) }}">My Arts</a></li>
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign up</a></li>                                    
                    {% endif %}
                        <li><a href="#">Coloring Top</a>
                            <ul class="sub-menu">
                                <li><a href="{{ url_for('top100pics') }}">Top 100 Pictures</a></li>
                                <li><a href="{{ url_for('top100artists') }}">Top 100 Artists</a></li>
                            </ul>
                        </li>
                </ul>
            </div>
    <section class="buttons">
        <div class="container">
            <div>
                <div>
                    <h1>Color Pictures</h1>
                    <p style="color:white; font-size:25px">-A colorfull world in your hand-</p>
                </div>
                <div id="bat_dau">
                    <a href="{{ url_for('full_category') }}" class="btn btn-1">Start</a>
                </div>
                </div>
                <a href="{{ url_for('roomoffame') }}" class="btn btn-1">Room of Fame</a>
                <div class="fb-share-button" data-href="https://color-pics.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcolor-pics.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
            </div>
        </div>
    </section>
</body>
</html>